.taskOrder {
    display: flex;
    margin: 0;
    justify-content: center;
}

.main {
    display: flex;
    margin: 0;
    padding: 1%;
    justify-content: center;
}

h1 {
    display: flex;
    margin: auto;
    padding: 1%;
    justify-content: center;
}